<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app">
    <input type="text" v-model="life"/> <button v-on:click="adds()">添加</button>
    <ul>
        <li v-for="(value,index) in list">
            {{value}}
            <button v-on:click="delt(index)">删除</button>
        </li>
    </ul>
</div>
<script src="js/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data:{
            list:['吃饭','睡觉','打游戏'],
            life:''
        },
        methods:{
            adds:function(){
                this.list.push(this.life),
                this.life=''
            },
            delt:function(index){
                this.list.splice(index,1)
            }
        }
    })
</script>
</body>
</html>